<div id="<%= dom_id ko %>">
  <p>
    <strong>Title:</strong>
    <%= ko.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ko.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= ko.content %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= ko.number %>
  </p>

</div>
